/* Theme */

main {
	/* background-image: url(../../bg1.jpg);
	background-position-x: center;
	background-repeat: no-repeat; */
	background: url(../../bg1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}